.root {
  display: flex;
  gap: var(--space-4);
  align-items: flex-start;
  overflow-x: auto;
  padding: var(--space-4);
  min-height: 12rem;
}

.addColumn {
  width: 17rem;
  flex-shrink: 0;
  display: flex;
}
.addColumn > * {
  width: 100%;
  min-height: 8rem;
}
